.aside {
	flex: 0 0 16vw;
	max-width: 26rem;

	background: var(--bg-aside);
	backdrop-filter: blur(4px);
	height: 100vh;
	padding: 5.5rem 0;

	display: flex;
	flex-direction: column;

	@include respond(lg) {
		max-width: max-content;
		padding: 1rem 0;
	}

	@include respond(sm) {
		flex-direction: row;
		max-width: 100vw;
		padding: 0 1.2em;
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: -1em;
		margin-bottom: 3em;
		padding: 0 1em;

		@include respond(lg) {
			flex-direction: column;
			margin-left: 0;
			margin-bottom: 0;
			order: 1;
			margin-top: auto;
		}

		@include respond(sm) {
			order: -1;
			margin-top: 0;
			padding: 0;
		}

		&--icon {
			position: relative;
			top: -2px;
			color: var(--pink);
			font-size: 2.4em;

			&:hover {
				color: var(--pink);
			}

			@include respond(lg) {
				font-size: 1.6em;
				align-items: center;
			}

			@include respond(sm) {
				font-size: 2.2em;
			}
		}

		&--text {
			margin-left: 0.3em;
			font-size: 1.6em;

			@include respond(lg) {
				display: none;
			}
		}
	}
}

.nav {
	flex: 1;
	&__category {
		padding-left: 3.75rem;
		margin-bottom: 1.6em;
		color: var(--text-lighter);
		margin-left: 0.1em;

		@include respond(xxl) {
			padding-left: 2.75rem;
		}

		@include respond(xl) {
			padding-left: 1.5rem;
		}
		@include respond(lg) {
			display: none;
		}
	}

	@include respond(sm) {
		display: flex;
		justify-content: flex-end;
	}

	&__list {
		list-style-type: none;
		display: flex;
		flex-direction: column;

		@include respond(sm) {
			flex-direction: row;
			align-items: center;
		}
	}
	&__item {
	}

	&__link {
		display: flex;
		align-items: center;

		font-size: 1.1em;
		font-weight: 600;
		color: var(--dark-gray-2);

		padding: 0.7em 3.75rem;
		padding-right: 0;
		width: 90%;
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		transition: all 250ms;

		@include respond(xxl) {
			padding-left: 2.75rem;

			span {
				font-size: 0.95em;
			}
		}
		@include respond(xl) {
			padding-left: 1.5rem;

			span {
				font-size: 0.9em;
			}
		}

		@include respond(lg) {
			padding-left: 0;
			justify-content: center;

			span {
				display: none;
			}
		}
		@include respond(sm) {
			margin: 0 .5em;
			border-radius: $border-radius;
		}

		i {
			margin-right: 0.75em;
			font-size: 1.3em;

			@include respond(lg) {
				margin-right: 0;
			}
		}

		.active {
			color: var(--purple);
		}

		&:hover,
		&:active,
		&:focus {
			background: white;
			box-shadow: $shadow;
			i {
				color: var(--purple);
			}
		}
	}
}
