.wrapper {
	display: flex;
	background: var(--bg);
	height: 100vh;

	/* navbar on top */
	@include respond(sm) {
		flex-direction: column;
	}
}

.main {
	flex: 1;
	margin: 0 auto;
	max-width: 140rem;
	overflow-y: auto;
	scrollbar-width: thin;

	position: relative;
}

.user-bar {
	display: flex;
	font-size: 1.6em;
	color: var(--icon-color);
	display: flex;
	align-items: center;
	justify-content: flex-end;

	position: sticky;
	top: 0;
	left: 0;
	background-color: var(--bg);
	width: 100%;
	z-index: 100;
	box-shadow: 0 0rem 2rem var(--bg);

	padding-top: 1rem;
	padding-bottom: 0.6rem;
	padding-right: 5.5rem;

	@include respond(xxl) {
		padding-right: 3rem;
	}
	@include respond(xl) {
		font-size: 1.5em;
	}
	@include respond(md) {
		font-size: 1.4em;
	}
	@include respond(sm) {
		justify-content: center;
		padding-left: 0;
		padding-right: 0;
		position: absolute;
		margin-top: .4em;
	}

	&__photo img {
		width: 36px;
		filter: $filter-shadow-blue;
	}

	> * {
		margin-left: 1.3em;
		text-shadow: $shadow;
		cursor: pointer;

		&:first-child {
			margin-left: 0;

			@include respond(sm) {
				order: -2;
			}
		}

		&:last-child {
			order: 1;

			@include respond(sm) {
				order: -1;
			}
		}
	}

	#notification-icon::after {
		content: "";
		position: absolute;
		top: 1px;
		right: 2px;
		height: 0.3em;
		width: 0.3em;
		border-radius: 50%;
		background: var(--pink);
		box-shadow: 0 0 0 2px white, 0.5px 1px 4px 1px rgba(255, 46, 95, 0.4);
	}
}
