.profile {
	padding: 5.5rem;
	padding-top: 0;
	position: relative;

	@include respond(xl) {
		padding: 5rem 3rem;
		padding-top: 0;
	}

	@include respond(sm) {
		padding: 0;
		margin-top: 8rem;
	}

	.heading-1 {
		font-size: 2.4em;
		line-height: 1;

		@include respond(lg) {
			font-size: 2em;
			margin-top: 1rem;
		}

		@include respond(sm) {
			text-align: center;
			padding: 0 1rem;
		}
	}

	&__desc {
		color: var(--dark-gray-3);
		margin-top: 0.8em;
		max-width: 70rem;
		font-size: 0.9em;

		@include respond(lg) {
			max-width: 45rem;
		}

		@include respond(sm) {
			margin-left: auto;
			margin-right: auto;

			text-align: justify;
			text-align-last: center;
			padding: 0 1.5rem;
		}
	}

	&__dashboard {
		margin-top: 1.5em;

		// padding: 5.5rem;

		display: grid;
		grid-template-columns: 30rem 1fr;
		grid-template-rows: auto auto auto;
		gap: 2.5rem;

		@include respond(xl) {
			grid-template-columns: 30rem 1fr;
		}

		@include respond(md) {
			grid-template-columns: 1fr 18rem;
			grid-template-rows: repeat(4, max-content);
		}

		@include respond(sm) {
			grid-template-columns: 1fr 18rem;
			grid-template-rows: repeat(4, max-content);
			gap: 1.5rem;
		}

		> * {
			border-radius: $border-radius;
			box-shadow: $shadow;
			background: var(--bg-card);

			padding: 1.8em;

			@include respond(xl) {
				padding: 1.4em;
			}
			@include respond(sm) {
				padding: 1em;
			}
		
		}
	}

	&__user {
		grid-column: 1 / 2;
		grid-row: 1 / -2;
	}

	&__status {
		grid-row: 1 / 2;
	}

	&__timeline {
		grid-row: 2 / -1;
	}

	&__friends {
		grid-column: 1 / 2;
		grid-row: -2 / -1;
	}

	@include respond(xl) {
		&__user {
			grid-column: 1 / -1;
			grid-row: 1 / 2;
		}

		&__status {
			grid-column: 2 / -1;
			grid-row: 2 / 3;
		}

		&__timeline {
			grid-column: 1 / -1;
			grid-row: 3 / -1;
		}

		&__friends {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}
	}

	@include respond(md) {
		&__user {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
		&__status {
			grid-column: 1 / -1;
			grid-row: 2 / 3;
		}

		&__friends {
			grid-column: 2 / -1;
			grid-row: 1/ 2;
		}
	}

	@include respond(sm) {
		&__user {
			grid-column: 1 / -1;
			grid-row: 1 / 2;
		}
		&__friends {
			grid-column: 1 / -1;
			grid-row: 2/ 3;
		}
		&__status {
			grid-column: 1 / -1;
			grid-row: 3 / 4;
			height: 20rem;
		}
		&__timeline {
			grid-column: 1 / -1;
			grid-row: 4 / -1;
		}
	}

	&__category {
		display: grid;
		grid-template-columns: max-content 1fr;
		align-items: center;
		line-height: 1.6;
		column-gap: 1em;

		&--title {
			font-weight: 600;
			font-size: 0.95em;
		}
		&--info {
			color: var(--dark-gray-3);
			font-size: 0.85em;
			margin-left: auto;
		}
	}
}
