.timeline {
	padding-left: 1.5em;
	display: flex;
	flex-direction: column;

	&__message {
		display: flex;
		margin-bottom: 1em;

		&--sub {
			margin-left: 4.5em;

			@include respond(md) {
				margin-left: 0;
				position: relative;
				display: flex;
				padding-left: 1.5em;

				&::before {
					content: "";
					position: absolute;
					top: 30%;
					left: 0;
					background: var(--purple);
					width: 0.4rem;
					height: 1.2rem;
					border-radius: 100rem;
					align-self: center;
				}
			}
		}
	}

	&__user-photo {
		max-width: 48px;
		margin-right: 1em;
		filter: $filter-shadow-blue;
	}

	&__comment {
		flex: 1;
		border: $border;
		border-radius: $border-radius;
		box-shadow: $shadow-2;
		padding: 0.6em 1em;
		font-size: 0.9em;

		&--title {
			color: var(--dark-gray-1);
			font-weight: 600;
			font-size: 0.9em;
		}

		&--time {
			color: var(--dark-gray-3);
			margin-left: 1.5em;
			font-size: 0.75em;
		}

		&--body {
			color: var(--dark-gray-2);
			margin: 0.8em 0;
			max-width: 85%;
		}
	}

	&__comment-header {
		display: flex;
		align-items: center;
	}

	&__comment-actions {
		margin-left: auto;

		display: flex;
		align-items: center;

		i {
			margin-left: 0.8em;
			font-size: 1.2em;

			&.active {
				color: var(--pink);
			}

			&:last-child {
				margin-left: 1.6em;
			}
		}
	}

	&__photos img {
		margin-right: 0.3em;
		border-radius: $border-radius;
		width: 60px;
		height: 50px;
		object-fit: cover;
		object-position: center;
		transition: all 250ms;

		&:hover,
		&:focus {
			transform: scale(1.1);
		}
	}

	&__btn {
		width: max-content;
		margin: auto;
		background: transparent;
		box-shadow: none;
		color: var(--purple);
		transition: all 250ms;

		display: flex;
		align-items: center;

		&:hover {
			box-shadow: none;
			color: var(--pink);

			i {
				color: var(--pink);
			}
		}

		i {
			color: var(--purple);
			margin-left: .3em;
		}
	}
}
